@{
    ViewData["Title"] = string.Format(PageTitleResource.StringFormat, PageTitleResource.HomeIndex, PageTitleResource.SiteName);
}

<h1 class="indent__margin-bottom">Welcome!</h1>

@if (User.Identity.IsAuthenticated)
{
    <a class="button button__link" asp-controller="Contact" asp-action="Index">Go to contacts</a>
}
