﻿@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(315deg, #F4F7FF 0%, #F7F8FB 100%);
}

header {
    background: #ffffff;
}

h1 {
    color: #252A31;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__indent-bottom {
    margin-bottom: 32px;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #252A31;
}

    .logo:hover {
        color: #51555a;
    }

.logo__link {
    text-decoration: none;
}

.auth {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #252A31;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #252A31;
    text-decoration: none;
}

    .link:hover {
        text-decoration: underline;
    }

.button {
    cursor: pointer;
    padding: 6px 16px;
    background: #006CFF;
    border-radius: 3px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #ffffff;
}

    .button:hover {
        background: #559dff;
    }

.button__link {
    text-decoration: none;
}

.button__edit {
    background: #F45E6D;
}

    .button__edit:hover {
        background: #f56e7c;
    }

.input {
    padding: 8px 16px;
    border: 1px solid #BECCD4;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #738188;
}

.indent__margin-bottom {
    margin-bottom: 8px;
}

.indent__margin-top {
    margin-top: 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #FFE761;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #FFE761 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

@media screen and (max-width: 1020px) {
    .wrapper {
        width: 680px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 760px) {
    .wrapper {
        width: 310px;
        margin: 0 auto;
    }
}
