.todo {
    padding: 20px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border-top: 10px solid #EBEFF5;
}

.todo__indent-bottom {
    margin-bottom: 8px;
}

.todo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #252A31;
    text-decoration: none;
}

.todo__text-completed {
    color: #a2b6c2;
    text-decoration: line-through;
}

.todo__medium {
    border-top: 10px solid #FFE761;
}

.todo__high {
    border-top: 10px solid #F45E6D;
}

.todo__image {
    cursor: pointer;
}

.todo__progress {
    cursor: pointer;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__task-completed {
    border-top: 10px solid #61DEA4;
}

.todo__detail {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #252A31;
}

.todo__actions {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__description {
    display: flex;
    align-items: center;
}

.todo__status {
    height: 28px;
}
